CoreDev_2/ProjectsInGit_CoreDev_2/BotelloSprint00/.vscode/launch.json
CoreDev_2/ProjectsInGit_CoreDev_2/BotelloSprint00/.alpackages/Microsoft_Application_24.3.21374.22401.app
CoreDev_2/ProjectsInGit_CoreDev_2/BotelloSprint00/.alpackages/Microsoft_Base Application_24.3.21374.22401.app
CoreDev_2/ProjectsInGit_CoreDev_2/BotelloSprint00/.alpackages/Microsoft_Business Foundation_24.3.21374.22401.app
CoreDev_2/ProjectsInGit_CoreDev_2/BotelloSprint00/.alpackages/Microsoft_System Application_24.3.21374.22401.app
CoreDev_2/ProjectsInGit_CoreDev_2/BotelloSprint00/.alpackages/Microsoft_System_24.0.22369.0.app
.vscode\*.json
*.app